{{ define "main" }}
<h1 class="archives-title">
  {{.Title}}
  <span class="archives-count">({{ len $.Site.RegularPages }})</span>
</h1>
<section class="archives">
  {{ range $.Site.RegularPages.GroupByDate "2006-01" }}
  <section class="archive-group">
    <header class="archive-group-title">
      {{ .Key }}
      <span class="archive-group-count">（{{ len .Pages }}篇）</span>
    </header>
    <ol class="archive-group-items" reversed>
      {{ range .Pages.ByDate.Reverse }}
      <li class="archive-group-item">
        <time class="archive-group-item-time">{{ .Date.Format "2006-01-02" }}</time>
        <a class="archive-group-item-title" href="{{.RelPermalink}}" target="_blank">{{.Title}}</a>
      </li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</section>
{{ end }}
