body{
  margin-left: 0 !important;
}

.main {
  margin: 18px 18px 54px 18px;
}

.article{
  padding: 0;
  box-shadow: unset;
}

.article-content{
  font-size: 14px;
}

.toc{
  top: unset;
  left: 0;
  bottom: 44px;
}

.toolbar{
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px #ccc;
}

.toolbar a{
  display: inline-block;
  margin: 10px 18px;
}