# text   : 使用 lf 换行符进行存储.
# binary : 原样存储.

# 自动识别文件是否为text
*          text=auto

# 使用 lf 存储, checkout 时替换为 crlf.
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# 原样存储
*.XRM-MS   binary
*.gif      binary
*.ico      binary
*.jpeg     binary
*.jpg      binary
*.png      binary
*.reg      binary
