<style>
  th {
    text-align: right;
  }

  td {
    text-align: right;
    vertical-align: top;
    padding: 6px 4px;
  }

  .cell {
    padding: 0 !important;
  }

  .input-fieldset section {
    margin: 6px 0;
  }

  .form-name,
  .form-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .form-input-weight {
    width: 13em !important;
  }

  .form-input-weight input {
    text-align: center;
  }

  .form-name {
    width: 4.5em;
    text-align: right;
  }

  .form-input {
    margin-left: 6px;
  }

  .el-collapse {
    border: unset;
  }

  .el-collapse-item__wrap,
  .el-collapse-item__header {
    border: unset;
  }

  .el-input-group__prepend {
    padding: 0;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    max-width: 100%;
    min-width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 6px;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }

  .result-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  .result-pre {
    font-family: unset;
    font-size: 0;
    margin: 0;
  }

  .result-table {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .result-summary sub {
    font-size: 10px;
    padding-left: 2px;
    color: #bbb;
  }

  .row-data {
    color: #666;
    font-family: monospace, Courier, 'Courier New'
  }

  .row-data:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .row-data-year-first-month {
    background-color: #eee;
  }

  .row-data-action-prepayment {
    color: rgb(103, 194, 58);
  }

  .row-data-action-reset-rate {
    color: rgb(64, 158, 255);
  }

  .insurance-table input {
    min-width: 2em;
    max-width: 4em;
    text-align: right;
  }

  .month-detail {
    display: none;
    background-color: #efe;
  }

  .month-detail_opened {
    display: table-row;
  }

  .ahead {
    display: inline-block;
    color: #093;
    margin-left: 2px;
    font-family: monospace, Courier, 'Courier New'
  }

  .e-input-ahead input {
    color: #093;
  }

  .area-hidden {
    display: none;
  }

  .area-show {
    display: block;
  }
</style>
<div id="app">
  <fieldset class="input-fieldset">
    <legend>参数区域</legend>
    <section>
      <div class="form-name">
        <label for="ePrincipal">
          贷款总额
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="ePrincipal" v-model="loan.totalPrincipal" step="10000" :min="0">
        </el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eMonth">
          月数
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eMonth" v-model="loan.totalNumberOfRepayment" step="12"> </el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eYearRate">
          利率
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eYearRate" v-model="loan.yearRate" :min="0" step="0.01"></el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eBeginDate">
          贷款时间
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-date-picker id="eBeginDate" v-model="loan.beginDate" type="date" placeholder="贷款时间"
          value-format="yyyy-MM-dd" format="yyyy-MM-dd" class="form-input-weight">
        </el-date-picker>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eRepaymentDayOfMonth">
          还款日期
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eRepaymentDayOfMonth" v-model="loan.repaymentDayOfMonth" step="1" :min="1" :max="31">
        </el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eRepaymentDayOfMonth">
          下载结果
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-button @click="downloadCsv()">下载CSV<i class="el-icon-download el-icon--right"></i></el-button>
        <el-button @click="downloadCsvUtf8Bom(true)">下载CSV-UTF8BOM<i class="el-icon-download el-icon--right"></i></el-button>
      </div>
    </section>
  </fieldset>

  <fieldset>
    <legend @click="showActionArea()" style="cursor:pointer;">操作区域 <i class="el"
        :class="{'el-icon-arrow-up':showAction,'el-icon-arrow-down':!showAction}"></i></legend>
    <div class="result-wrapper" :class="{'area-show':showAction,'area-hidden':!showAction}">
      <pre class="result-pre">
      <table class="result-table">
        <tr>
          <td>{{prepaymentAction.type}}</td>
          <td><el-date-picker v-model="prepaymentAction.date" type="date" placeholder="提前还款的扣款日期"
              value-format="yyyy-MM-dd" format="yyyy-MM-dd" class="form-input-weight"></el-date-picker></td>
          <td><el-input-number v-model="prepaymentAction.principal" :min="10000" step="10000"></el-input-number></td>
          <td><el-select v-model="prepaymentAction.afterAction"><el-option v-for="item in afterActionTypes" :key="item"
                :label="item" :value="item"></el-option></el-select></td>
          <td><el-button v-on:click="addPrepaymentAction" type="success" icon="el-icon-circle-plus-outline" size="small" plain></el-button>
          </td>
        </tr>
        <tr>
          <td>{{resetRateAction.type}}</td>
          <td><el-date-picker v-model="resetRateAction.date" type="date" placeholder="利率变更日期" value-format="yyyy-MM-dd"
              format="yyyy-MM-dd" class="form-input-weight"></el-date-picker></td>
          <td><el-input-number v-model="resetRateAction.yearRate" :min="0" step="0.01"></el-input-number></td>
          <td></td>
          <td><el-button v-on:click="addResetRateAction" type="primary" icon="el-icon-circle-plus-outline" size="small" plain></el-button>
          </td>
        </tr>
        <tr>
          <td>{{changePrinicipalAction.type}}</td>
          <td><el-date-picker v-model="changePrinicipalAction.date" type="date" placeholder="提前还款的扣款日期"
              value-format="yyyy-MM-dd" format="yyyy-MM-dd" class="form-input-weight"></el-date-picker></td>
          <td><el-input-number v-model="changePrinicipalAction.principal"></el-input-number></td>
          <td></td>
          <td><el-button v-on:click="addChangePrinicipalAction" type="success" icon="el-icon-circle-plus-outline" size="small" plain></el-button>
          </td>
        </tr>
        <template v-for="(action,i) in actions">
          <tr class="row-data" :class="{'row-data-action-reset-rate': action.type=='调整利率','row-data-action-prepayment':action.type=='提前还款'}">
            <td>{{action.type}}</td>
            <td>{{action.date}}</td>
            <td>{{action.yearRate}}{{action.principal}}</td>
            <td>{{action.afterAction}}</td>
            <td><el-button @click="deleteAction(i)" type="danger" icon="el-icon-delete" size="small" plain></el-button></td>
          </tr>
        </template>
      </table>
    </pre>
    </div>
  </fieldset>

  <fieldset>
    <legend>结果区域-合计</legend>
    <div class="result-wrapper">
      <pre class="result-pre">
        <table class="result-table">
          <tr class="row-header">
            <th>类型</th>
            <th>本金</th>
            <th>利息</th>
            <th>总金额</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>最后还款</th>
            <th>期数</th>
          </tr>
          <template v-for="sum in result.sumItems">
            <tr class="row-data">
              <td>{{sum.type}}</td>
              <td>{{sum.principal | CNY}}</td>
              <td>{{sum.interest | CNY}}</td>
              <td>{{sum.amount | CNY}}</td>
              <td>{{sum.beginInterestDate}}</td>
              <td>{{sum.endInterestDate}}</td>
              <td>{{sum.repaymentDate}}</td>
              <td>{{sum.totalNumberOfRepayment}}期 {{sum.daysText}}</td>
              </tr>
          </template>
        </table>
      </pre>
    </div>
  </fieldset>

  <fieldset>
    <legend @click="showRepairedArea()" style="cursor:pointer;">结果区域-明细-已还-{{result.repairedItems.length}}期 <i
        class="el" :class="{'el-icon-arrow-up':showRepaired,'el-icon-arrow-down':!showRepaired}"></i></legend>
    <div class="result-wrapper" :class="{'area-show':showRepaired,'area-hidden':!showRepaired}">
      <pre class="result-pre">
        <table class="result-table">
          <tr class="row-header">
            <th style="cursor:pointer;width: 8em;" @click="sortTable()">月份  <i :class="{'el-icon-arrow-up':asc,'el-icon-arrow-down':!asc}"></i></th>
            <th style="width: 8em;">计息本金</th>
            <th>利率</th>
            <th>还款利息</th>
            <th>还款本金</th>
            <th>还款金额</th>
            <th>剩余本金</th>
          </tr>
          <template v-for="item in result.repairedItems">
            <tr class="row-data" :class="{'row-data-action-reset-rate': item.hasAdditionalRateTextList,'row-data-action-prepayment':item.hasAdditionalActionTextList}" :onclick="'blog.toggleClassName(\'month-'+item.plan.repaymentDate+'-detail\',\'month-detail_opened\')'">
              <td>{{item.plan.repaymentDate}}<i class="el el-icon-arrow-right"></i><span v-for="action in item.additionalActionTextList"><br/>{{action}}</span></td>
              <td>{{item.plan.balancePrincipal | CNY}}</td>
              <td>{{item.repayment.yearRate}}<span v-for="rate in item.additionalRateTextList"><br/>{{rate}}</span></td>
              <td>{{item.repayment.interest | CNY}}</td>
              <td>{{item.repayment.principal | CNY}}</td>
              <td>{{item.repayment.amount | CNY}}</td>
              <td>{{item.balance.principal | CNY}}</td>
              </tr>
              <tr :id="'month-'+item.plan.repaymentDate+'-detail'" class="row-data month-detail" :class="{'row-data-action-reset-rate': item.hasRate,'row-data-action-prepayment':item.hasAction}" >
                <td>{{item.plan.beginInterestDate}}<br/>{{item.plan.endInterestDate}}<br/>{{item.repayment.rateTimesText}}</td>
                <td></td>
                <td><span v-for="rateFormula in item.repayment.yearRateFormulaList">{{rateFormula.endDate}} - {{rateFormula.beginDate}} = {{rateFormula.days}} 天<br/>{{rateFormula.weightRateFormula}} = {{rateFormula.weightRate}}<br/>{{rateFormula.yearRateFormula}} = {{rateFormula.yearRate}}<br/></span>{{item.repayment.rateFormula}} = {{item.repayment.rate}}</td>
                <td>{{item.repayment.interestFormula}}</td>
                <td>{{item.plan.repaymentPrincipalFormula}}</td>
                <td>{{item.repayment.amountFormula}}</td>
                <td>{{item.balance.principalFormula}}</td>
              </tr>
          </template>
        </table>
      </pre>
    </div>
  </fieldset>

  <fieldset>
    <legend>结果区域-明细-待还-{{result.balanceItems.length}}期</legend>
    <div class="result-wrapper">
      <pre class="result-pre">
        <table class="result-table">
          <tr class="row-header">
            <th style="cursor:pointer;width: 8em;" @click="sortTable()">月份  <i :class="{'el-icon-arrow-up':asc,'el-icon-arrow-down':!asc}"></i></th>
            <th style="width: 8em;">计息本金</th>
            <th>利率</th>
            <th>还款利息</th>
            <th>还款本金</th>
            <th>还款金额</th>
            <th>剩余本金</th>
          </tr>
          <template v-for="item in result.balanceItems">
            <tr class="row-data" :class="{'row-data-action-reset-rate': item.hasAdditionalRateTextList,'row-data-action-prepayment':item.hasAdditionalActionTextList}" :onclick="'blog.toggleClassName(\'month-'+item.plan.repaymentDate+'-detail\',\'month-detail_opened\')'">
              <td>{{item.plan.repaymentDate}}<i class="el el-icon-arrow-right"></i><span v-for="action in item.additionalActionTextList"><br/>{{action}}</span></td>
              <td>{{item.plan.balancePrincipal | CNY}}</td>
              <td>{{item.repayment.yearRate}}<span v-for="rate in item.additionalRateTextList"><br/>{{rate}}</span></td>
              <td>{{item.repayment.interest | CNY}}</td>
              <td>{{item.repayment.principal | CNY}}</td>
              <td>{{item.repayment.amount | CNY}}</td>
              <td>{{item.balance.principal | CNY}}</td>
              </tr>
              <tr :id="'month-'+item.plan.repaymentDate+'-detail'" class="row-data month-detail" :class="{'row-data-action-reset-rate': item.hasRate,'row-data-action-prepayment':item.hasAction}" >
                <td>{{item.plan.beginInterestDate}}<br/>{{item.plan.endInterestDate}}<br/>{{item.repayment.rateTimesText}}</td>
                <td></td>
                <td><span v-for="rateFormula in item.repayment.yearRateFormulaList">{{rateFormula.endDate}} - {{rateFormula.beginDate}} = {{rateFormula.days}} 天<br/>{{rateFormula.weightRateFormula}} = {{rateFormula.weightRate}}<br/>{{rateFormula.yearRateFormula}} = {{rateFormula.yearRate}}<br/></span>{{item.repayment.rateFormula}} = {{item.repayment.rate}}</td>
                <td>{{item.repayment.interestFormula}}</td>
                <td>{{item.plan.repaymentPrincipalFormula}}</td>
                <td>{{item.repayment.amountFormula}}</td>
                <td>{{item.balance.principalFormula}}</td>
              </tr>
          </template>
        </table>
      </pre>
    </div>
  </fieldset>
</div>
<script src="calculator2.js"></script>
<script src="app.js"></script>