<style>
  th {
    text-align: right;
  }

  td {
    text-align: right;
    vertical-align: baseline;
    padding: 6px 4px;
  }

  .cell {
    padding: 0 !important;
  }

  .input-fieldset section {
    margin: 6px 0;
  }

  .form-name,
  .form-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .form-name {
    width: 5em;
    text-align: right;
  }

  .form-input {
    margin-left: 1em;
  }

  .el-collapse {
    border: unset;
  }

  .el-collapse-item__wrap,
  .el-collapse-item__header {
    border: unset;
  }

  .el-input-group__prepend {
    padding: 0;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    max-width: 100%;
    min-width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }

  .result-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  .result-pre {
    font-family: unset;
    font-size: 0;
    margin: 0;
  }

  .result-table {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .result-summary sub {
    font-size: 10px;
    padding-left: 2px;
    color: #bbb;
  }

  .row-data {
    color: #666;
    font-family: monospace, Courier, 'Courier New'
  }

  .row-data:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .insurance-table input {
    min-width: 2em;
    max-width: 4em;
    text-align: right;
  }

  .month-detail {
    display: none;
  }

  .month-detail_opened {
    display: table-row;
  }
</style>
<div id="app">
  <fieldset class="input-fieldset">
    <legend>参数区域</legend>
    <section>
      <div class="form-name">
        <label for="eAmount">
          贷款总额
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eAmount" v-model="amount" step="10000" :min="0">
        </el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eMonth">
          月数
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eMonth" v-model="month" step="12"></el-input-number>
        &nbsp;&nbsp;
        <el-checkbox v-model="desc">倒序</el-checkbox>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eRate">
          利率
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="eRate" v-model="rate" :min="0" step="0.01"></el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="eRate">
          首次还款
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-date-picker v-model="date" type="date" placeholder="选择日期">
        </el-date-picker>
      </div>
    </section>
    <section>
  </fieldset>

  <fieldset>
    <legend>结果区域-总和</legend>
    <div class="result-wrapper">
      <pre class="result-pre">
        <table class="result-table">
          <tr class="row-header">
            <th>还款方式</th>
            <th>本金</th>
            <th>总利息</th>
            <th>总金额</th>
          </tr>
          <tr class="row-data" >
            <td>等额本金</td>
            <td>{{amount | CNY}}</td>
            <td>{{result.avgPrincipalTotalInterest | CNY}}</td>
            <td>{{result.avgPrincipalTotal | CNY}}</td>
          </tr>
          <tr class="row-data" >
            <td>等额本息</td>
            <td>{{amount | CNY}}</td>
            <td>{{result.avgInterestTotalInterest | CNY}}</td>
            <td>{{result.avgInterestTotal | CNY}}</td>
          </tr>
          <tr class="row-data" >
            <td>差额</td>
            <td></td>
            <td>{{result.diff | CNY}}</td>
            <td></td>
          </tr>
        </table>
      </pre>
    </div>
  </fieldset>

  <fieldset>
    <legend>结果区域-月列表</legend>
    <div class="result-wrapper">
      <pre class="result-pre">
        <table class="result-table">
          <tr class="row-header">
            <th rowspan="2">月份</th>
            <th colspan="4">等额本金</th>
            <th colspan="4">等额本息</th>
          </tr>
          <tr class="row-header">
            <th>总额</th>
            <th>本金</th>
            <th>利息</th>
            <th>剩余本金</th>
            <th>总额</th>
            <th>本金</th>
            <th>利息</th>
            <th>剩余本金</th>
          </tr>
          <template v-for="month in result.months">
            <tr class="row-data" >
              <td>{{month.month}}</td>
              <td>{{month.avgPrincipal.amount | CNY}}</td>
              <td>{{month.avgPrincipal.principal | CNY}}</td>
              <td>{{month.avgPrincipal.interest | CNY}}</td>
              <td>{{month.avgPrincipal.principalBalance | CNY}}</td>
              <td>{{month.avgInterest.amount | CNY}}</td>
              <td>{{month.avgInterest.principal | CNY}}</td>
              <td>{{month.avgInterest.interest | CNY}}</td>
              <td>{{month.avgInterest.principalBalance | CNY}}</td>
            </tr>
          </template>
        </table>
      </pre>
    </div>
  </fieldset>
</div>
<script src="calculator.js"></script>
<script type="text/javascript">
  function getLocationParams() {
    var amountParam = parseInt(blog.getLocationParam(1, 1000000));
    var monthParam = parseInt(blog.getLocationParam(2, 360));
    var rateParam = parseFloat(blog.getLocationParam(3, 4.2));
    var dateParam = new Date(blog.getLocationParam(4, new Date()));
    return {
      amount: amountParam,
      month: monthParam,
      rate: rateParam,
      date: dateParam
    };
  }

  var defaultParam = getLocationParams();
  blog.log("calculate defaultParam", defaultParam);

  var vueApp = new Vue({
    el: "#app",
    data: function () {
      return {
        amount: defaultParam.amount,
        month: defaultParam.month,
        rate: defaultParam.rate,
        date: defaultParam.date,
        desc: false
      }
    },
    filters: {
      CNY: function (value) {
        return currency(
          value || 0,
          {
            symbol: "",
            separator: ",",
            precision: 2
          })
          .format();
      }
    },
    computed: {
      result() {
        var result = calculateMonths(
          parseInt(this.amount, 10),
          this.month,
          this.rate,
          this.date
        );

        if (this.desc) {
          result.months = result.months.reverse();
        }

        blog.log("calculate result", result);
        var dateString = this.date.getFullYear() + "-" + (this.date.getMonth() + 1) + "-" + this.date.getDate();
        blog.setLocationParams(this.amount, this.month, this.rate, dateString);

        return result;
      }
    }
  });
</script>