{{ define "content" }}
<section class="topics">
  {{ range where $.Site.Menus.topic "URL" "not in" (slice "/topic/" "/archive/") }}
  <section class="topic">
    <h1 class="topic-title">
      <a href="{{ .URL }}" title="{{ .Name }}" target="_blank">
        {{ .Name }}
      </a>
      <span class="topic-articles-count">（{{len .Page.Pages}}篇）</span>
    </h1>
    <section class="article-meta">
      {{ partial "article-meta-git.html" .Page }}
    </section>
    <div class="topic-content">
      {{ .Page.Content }}
    </div>
    <ol class="topic-articles" reversed>
      {{ range .Page.Pages.ByDate.Reverse }}
      <li class="topic-article">
        <time class="topic-article-time">{{ .Date.Format "2006-01-02" }}</time>
        <a class="topic-article-title" href="{{.RelPermalink}}" target="_blank" title="{{ .Title }}">{{.Title}}</a>
      </li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</section>
{{ end }}
