<style>
  th {
    text-align: center;
  }

  td {
    text-align: right;
    vertical-align: baseline;
    padding: 6px 4px;
  }

  .cell {
    padding: 0 !important;
  }

  .input-fieldset section {
    margin: 6px 0;
  }

  .form-name,
  .form-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .form-name {
    width: 5em;
    text-align: right;
  }

  .form-input {
    margin-left: 1em;
  }

  .el-collapse {
    border: unset;
  }

  .el-collapse-item__wrap,
  .el-collapse-item__header {
    border: unset;
  }

  .el-input-group__prepend {
    padding: 0;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    max-width: 100%;
    min-width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }

  .salary-wrapper {
    overflow-x: auto;
    max-width: 100%;
  }

  .salary-pre {
    font-family: unset;
    font-size: 0;
    margin: 0;
  }

  .salary-table {
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .salary-summary sub {
    font-size: 10px;
    padding-left: 2px;
    color: #bbb;
  }

  .row-data {
    color: #666;
    font-family: monospace, Courier, 'Courier New'
  }

  .row-data:hover {
    background-color: #eee;
    cursor: pointer;
  }

  .insurance-table input {
    min-width: 2em;
    max-width: 4em;
    text-align: right;
  }

  .month-detail {
    display: none;
  }

  .month-detail_opened {
    display: table-row;
  }
</style>
<div id="app">
  <fieldset class="input-fieldset">
    <legend>参数区域</legend>
    <section>
      <div class="form-name">
        <label for="salary">
          税前月工资
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="salary" v-model="amount" step="1000" :min="0">
        </el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="month">
          月数
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="month" v-model="month" :min="1"></el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="insurance">
          社保基数
        </label>
      </div>
      <div class="form-input">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <el-select id="insurance" v-model="insuranceName" :popper-append-to-body="false"
                @change="onInsuranceNameChange">
                <el-option v-for="item in insuranceNameList" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
              <span>&nbsp;&nbsp;{{insurance.min | CNY}}~{{insurance.max | CNY}}</span>
            </template>
            <table class="insurance-table">
              <tr class="row-header">
                <th>社保类型</th>
                <th>最低基数</th>
                <th>最高基数</th>
                <th>个人%</th>
                <th>公司%</th>
              </tr>
              <tr>
                <td></td>
                <td><input v-model="insurance.min" @input="onInsuranceMinChange"></td>
                <td><input v-model="insurance.max" @input="onInsuranceMaxChange"></td>
                <td></td>
                <td></td>
              </tr>
              <tr v-for="item in insurance.items" class="row-data">
                <td>{{item.name}}</td>
                <td><input v-model="item.min"></td>
                <td><input v-model="item.max"></td>
                <td><input v-model="item.personalPercentage"></td>
                <td><input v-model="item.corporationPercentage"></td>
              </tr>
            </table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="rate">税率表</label>
      </div>
      <div class="form-input">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <el-select id="rate" v-model="rateName" :popper-append-to-body="false">
                <el-option v-for="item in rateNameList" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
              <span>&nbsp;&nbsp;免征额 {{rate.exempted | CNY}}</span>
            </template>
            <table>
              <tr class="row-header">
                <th>范围</th>
                <th>税率</th>
                <th>速算扣除数</th>
              </tr>
              <tr v-for="item in rate.items" class="row-data">
                <td>
                  <span>
                    {{item.min | CNY}} ~
                    <span v-if="item.max">{{item.max | CNY}}</span>
                    <span v-else>￥∞</span>
                  </span>
                </td>
                <td>
                  {{item.rate}}%
                </td>
                <td>
                  {{item.quickDeduction | CNY}}
                </td>
              </tr>
            </table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
    <section style="min-height: 47px;">
      <div class="form-name">
        <label for="precision">
          小数位
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="precision" v-model="precision" :min="0" :max="2" @change="onPrecisionChange"></el-input-number>
      </div>
    </section>
    <section>
  </fieldset>

  <fieldset>
    <legend>结果区域-年合计</legend>
    <table class="salary-summary">
      <tr class="row-data">
        <td>税前</td>
        <td>{{amount | CNY}}<sub>工资</sub></td>
        <td>*</td>
        <td>{{month}}<sub>月</sub></td>
        <td>=</td>
        <td>{{salarys.summary.last.baseYTD | CNY}}</td>
        <td>+</td>
        <td>{{salarys.summary.last.insurances.corporationYTD | CNY}}<sub>公司社保</sub></td>
        <td>=</td>
        <td>{{salarys.summary.last.corporationYTD | CNY}}<sub>公司支出</sub></td>
      </tr>
      <tr class="row-data">
        <td colspan="6">-</td>
        <td colspan="4">-</td>
      </tr>
      <tr class="row-data">
        <td>税后</td>
        <td>{{salarys.summary.last.actualYTD | CNY}}<sub>税后YTD</sub></td>
        <td>+</td>
        <td>{{salarys.summary.公积金SumYTD| CNY}}<sub>公积金YTD</sub></td>
        <td>=</td>
        <td colspan="5">{{salarys.summary.totalActualYTD | CNY}}</td>
      </tr>
      <tr class="row-data">
        <td colspan="6">=</td>
        <td colspan="4">=</td>
      </tr>
      <tr class="row-data">
        <td>差额</td>
        <td colspan="5">{{salarys.summary.personalDiffYTD | CNY}}</td>
        <td colspan="4">{{salarys.summary.corporationDiffYTD | CNY}}</td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>结果区域-月列表</legend>
    <div class="salary-wrapper">
      <pre class="salary-pre">
        <table class="salary-table">
          <tr class="row-header">
            <th style="width: 5em;">月份</th>
            <th>税前YTD</th>
            <th style="width: 6em;">免征额YTD</th>
            <th style="width: 7em;">社保个人YTD</th>
            <th>税基YTD</th>
            <th style="width: 3em;">税率</th>
            <th>个税</th>
            <th>个税YTD</th>
            <th>税后</th>
            <th>税后YTD</th>
          </tr>
          <template v-for="salary in salarys.items">
            <tr class="row-data" :onclick="'blog.toggleClassName(\'month-'+salary.month+'-detail\',\'month-detail_opened\')'">
              <td v-if="salary.month > 12"><i class="fa fa-chevron-down"></i> {{salary.months}}个月奖金</td>
              <td v-else ><i class="fa fa-chevron-down"></i> {{salary.month}}月</td>
              <td>{{salary.baseYTD | CNY}}</td>
              <td>{{salary.exemptedYTD | CNY}}</td>
              <td>{{salary.insurances.personalYTD | CNY}}</td>
              <td>{{salary.taxableYTD | CNY}}</td>
              <td>{{salary.rate.rate}}%</td>
              <td>{{salary.tax | CNY}}</td>
              <td>{{salary.taxYTD | CNY}}</td>
              <td>{{salary.actual | CNY}}</td>
              <td>{{salary.actualYTD | CNY}}</td>
            </tr>
            <tr :id="'month-'+salary.month+'-detail'" class="month-detail">
              <td style="padding: 0; font-size: 0;"> </td>
              <td colspan="10" style="padding: 0; font-size: 0;">
                <table style="padding: 0;margin: 0; font-size: 14px;width: 100%;border-width: 0;background-color: #efe;">
                  <tr>
                    <td v-if="salary.month > 12" colspan="3">{{salary.months}}个月奖金</td>
                    <td colspan="3" v-else >{{salary.month}}月</td>
                    <td>社保基数</td>
                    <td>税率/费率</td>
                    <td>本月</td>
                    <td>YTD(年累计)</td>
                  </tr>
                  <tr class="row-data">
                    <td rowspan="12">个人</td>
                    <td>税前</td>
                    <td colspan="3"></td>
                    <td>{{salary.base | CNY}}</td>
                    <td>{{salary.baseYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td rowspan="7">社保</td>
                    <td>合计</td>
                    <td colspan="2"></td>
                    <td>{{salary.insurances.personal | CNY}}</td>
                    <td>{{salary.insurances.personalYTD | CNY}}</td>
                  </tr>
                  <tr v-for="insurance in salary.insurances.items" class="row-data">
                    <td>{{insurance.name}}</td>
                    <td>{{insurance.base}}</td>
                    <td>{{insurance.personalPercentage}}%</td>
                    <td>{{insurance.personal | CNY}}</td>
                    <td>{{insurance.personalYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td rowspan="3">个税</td>
                    <td>应纳税所得额</td>
                    <td></td>
                    <td>{{salary.rate.rate | CNY}}%</td>
                    <td>{{salary.taxable | CNY}}</td>
                    <td>{{salary.taxableYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td>免征额</td>
                    <td colspan="2"></td>
                    <td>{{salary.exempted | CNY}}</td>
                    <td>{{salary.exemptedYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td >应纳税</td>
                    <td colspan="2"></td>
                    <td>{{salary.tax | CNY}}</td>
                    <td>{{salary.taxYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td>税后</td>
                    <td colspan="3"></td>
                    <td>{{salary.actual | CNY}}</td>
                    <td>{{salary.actualYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td rowspan="8">公司</td>
                    <td>支出</td>
                    <td colspan="3"></td>
                    <td>{{salary.corporation | CNY}}</td>
                    <td>{{salary.corporationYTD | CNY}}</td>
                  </tr>
                  <tr class="row-data">
                    <td rowspan="7">社保</td>
                    <td>合计</td>
                    <td colspan="2"></td>
                    <td>{{salary.insurances.corporation | CNY}}</td>
                    <td>{{salary.insurances.corporationYTD | CNY}}</td>
                  </tr>
                  <tr v-for="insurance in salary.insurances.items" class="row-data">
                    <td>{{insurance.name}}</td>
                    <td>{{insurance.base}}</td>
                    <td>{{insurance.corporationPercentage}}%</td>
                    <td>{{insurance.corporation | CNY}}</td>
                    <td>{{insurance.corporationYTD | CNY}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </template>
        </table>
      </pre>
    </div>
  </fieldset>
</div>
<script src="rates.js"></script>
<script src="insurances.js"></script>
<script src="calculator.js"></script>
<script type="text/javascript">
  const rateNameList = Object.keys(rates);
  const rateName = rateNameList[0];
  const insuranceNameList = Object.keys(insurances);
  const insuranceName = insuranceNameList[0];
  let precision = blog.isMobile() ? 0 : 2;

  new Vue({
    el: "#app",
    data: function () {
      return {
        amount: 5000,
        month: 12,
        precision: precision,
        rateNameList: rateNameList,
        rateName: rateName,
        rate: rates[rateName],
        insuranceNameList: insuranceNameList,
        insuranceName: insuranceName,
        insurance: insurances[insuranceName]
      }
    },
    filters: {
      CNY: function (value) {
        return currency(
          value || 0,
          {
            symbol: "",
            separator: ",",
            precision: precision
          })
          .format();
      }
    },
    computed: {
      salarys() {
        var items = buildSalaryList(
          parseInt(this.amount, 10),
          this.month,
          this.insurance,
          this.rate
        );
        calculateOneYear(items);
        items.shift();
        log("calculate salarys", items);

        var summary = buildSummary(items);
        log("calculate salarys year summary", summary);

        return {
          items: items.reverse(),
          summary: summary
        };
      }
    },
    methods: {
      onRateNameChange(name) {
        this.rate = rates[name];
      },
      onInsuranceNameChange(name) {
        this.insurance = insurances[name];
      },
      onInsuranceMinChange(e) {
        const min = e.target.value;
        this.insurance.items.forEach(x => x.min = min);
      },
      onInsuranceMaxChange(e) {
        const max = e.target.value;
        this.insurance.items.forEach(x => x.max = max);
      },
      onPrecisionChange(value) {
        precision = value;
      }
    }
  });
</script>