<link rel="icon" type="image/png" href="/favicon.png">
{{- range .AlternativeOutputFormats -}}
<link rel="{{.Rel}}" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{$.Site.Title | safeHTML }}" />
{{- end -}}

<link href="//cdn.bootcss.com/normalize/8.0.1/normalize.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='/.css/pc.css?t={{- now.Format "2006-01-02T15:04:05-0700" -}}' rel="stylesheet">
{{ if .Params.toc }}
<link href='/.css/toc.css?t={{- now.Format "2006-01-02T15:04:05-0700" -}}' rel="stylesheet">
{{ end }}
<script src='/.js/pc.js?t={{- now.Format "2006-01-02T15:04:05-0700" -}}' type="text/javascript"></script>
<script type="text/javascript">
  if (lnh.isMobile()) {
    lnh.css.addMobileCss('/.css/mobile.css?t={{- now.Format "2006-01-02T15:04:05-0700" -}}');
  }
</script>
