<style>
  th {
    text-align: right;
  }

  td {
    text-align: right;
    vertical-align: baseline;
    padding: 6px 4px;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    max-width: 100%;
    min-width: 100%;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 6px;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }
</style>

<div id="app">
  <fieldset>
    <legend>参数</legend>
    <table>
      <tr>
        <td><label>代码</label></td>
        <td>
          <el-input v-model="symbol" size="small" style="width:80px" id="stockKLineSymbol"></el-input>
        </td>
        <td>
          <el-radio-group v-model="symbol" size="small" style="display:inline-flex;flex-wrap:wrap;gap:8px">
            <span v-for="item in sortedSymbolHistory" :key="item.code" style="position:relative;display:inline-block">
              <el-radio-button :label="item.code">{{ item.name }} ({{ item.code }})</el-radio-button>
              <i class="el-icon-close" @click.stop="removeSymbol(item.code)"
                style="position:absolute;top:-6px;right:-6px;font-size:11px;cursor:pointer;color:#999;background:#fff;border-radius:50%;padding:1px;line-height:1"
                title="从历史中删除"></i>
            </span>
          </el-radio-group>
        </td>
      </tr>
      <tr>
        <td><label>周期</label></td>
        <td>
          <el-radio-group v-model="period" size="small">
            <el-radio-button label="日线">日线</el-radio-button>
            <el-radio-button label="周线">周线</el-radio-button>
            <el-radio-button label="月线">月线</el-radio-button>
          </el-radio-group>
        </td>
      </tr>
      <tr>
        <td><label>复权</label></td>
        <td>
          <el-radio-group v-model="adjust" size="small">
            <el-radio-button label="前复权">前复权</el-radio-button>
          </el-radio-group>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <el-button type="primary" @click="renderKLine" :disabled="loading" size="small">查看K线</el-button>
        </td>
      </tr>
    </table>
  </fieldset>
</div>

<fieldset>
  <legend>VWAP-K线-<span id="stockName"></span></legend>
  <div id="klineChartDiv" style="width: 100%;height: 360px;"></div>
  <div id="klineCountChartDiv" style="width: 100%;height: 120px;"></div>
  <div id="klineMacdChartDiv" style="width: 100%;height: 240px;"></div>
  <div id="klineOvbChartDiv" style="width: 100%;height: 120px;"></div>
</fieldset>
<script src="/asset/tickflow.js"></script>
<script src="echarts-dispatch.js"></script>
<script src="kline-func.js"></script>
<script src="kline-data.js"></script>
<script src="kline-chart.js"></script>
<script src="app.js"></script>