<section class="article-git">
  <a class="article-git-commit" href="{{$.Site.Params.url.repo.commit}}/{{$.GitInfo.Hash}}" target="_blank">
    <i class="fa fa-code-fork"></i>{{- $.GitInfo.AbbreviatedHash -}}
  </a>
  <span class="article-git-commit-subject">
    {{- $.GitInfo.Subject -}}
  </span>
  <span class="article-git-commit-time">
    {{- $.GitInfo.AuthorDate.Format "2006-01-02 15:04" -}}
  </span>
  <a class="article-git-source" href="{{$.Site.Params.url.repo.blobSrc}}/{{path.Clean .File.Path}}" target="_blank">
    <i class="fa fa-github"></i>源码
  </a>
</section>