<header class="header">
  <hgroup class="header-hgroup">
    <h1 class="header-hgroup-title">
      <a href="/">
        {{- .Site.Title -}}
      </a>
    </h1>
    <h2 class="header-hgroup-subtitle">{{- .Site.Params.SubTitle -}}</h2>
  </hgroup>
  <nav class="header-nav">
    {{ range .Site.Menus.main }}
    {{- $target := cond (hasPrefix .URL "http") "_black" "_self" -}}
    <a class="header-nav-item" href="{{ .URL }}" title="{{ .Name }}" target="{{$target}}">
      {{- .Pre -}}
      {{- .Name -}}
    </a>
    {{ end }}
  </nav>
  <div class="header-stats">
    {{ partial "stats.html" . }}
    {{ partial "search.html" . }}
  </div>
</header>