<link rel="icon" type="image/svg" href="/favicon.svg">
{{- range .AlternativeOutputFormats -}}
<link rel="{{.Rel}}" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{$.Site.Title | safeHTML }}" />
{{- end -}}
<link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href='/asset/blog.css?time={{now.Format "2006-01-02T15:04:05Z-07:00"}}' rel="stylesheet" type="text/css">