<script src="https://s4.zstatic.net/npm/currency.js@2.0.4/dist/currency.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://s4.zstatic.net/ajax/libs/moment.js/2.30.1/moment.min.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='/asset/blog.js?time={{now.Format "2006-01-02T15:04:05Z-07:00"}}' type="application/javascript"></script>
<script type="text/javascript">
  if (blog.isMobile()) {
    document.write('<link href="/asset/blog.mobile.css?time={{now.Format "2006-01-02T15:04:05Z-07:00" | urlquery}}" rel="stylesheet">');
  }
</script>