<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head-meta.html" . }}
  {{ partial "head-link.html" . }}
  {{ partial "head-title.html" . }}
</head>

<body>
  <div id="horizontal-progress" class="horizontal-progress"></div>
  {{ partial "toc.html" . }}
  <main class="body">

    {{ partial "body-header.html" . }}

    <main class="main">
      {{ block "main" . }}
      {{ end }}
    </main>

    {{ partial "body-footer.html" . }}

  </main>
  {{ partial "toolbar.html" . }}

  <script type="text/javascript">
      blog.addOnScorllEvent();
  </script>
</body>

</html>