{{ define "main" }}
<section class="topic">
  <h1 class="topic-title">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" target="_blank">
      {{ .Title }}
    </a>
    <span class="topic-articles-count">({{len .Pages}})</span>
  </h1>
  <section class="article-meta">
    {{ partial "article/meta-git.html" . }}
  </section>
  <div class="topic-content">
    {{ .Content }}
  </div>
  <ol class="topic-articles" reversed>
    {{ range .Pages.ByDate.Reverse }}
    <li class="topic-article">
      <time class="topic-article-time">{{ .Date.Format "2006-01-02" }}</time>
      <a class="topic-article-title" href="{{.RelPermalink}}" target="_blank" title="{{ .Title }}">{{.Title}}</a>
    </li>
    {{ end }}
  </ol>
</section>
{{ end }}