{{ define "content" }}
<section class="topic">
  <h1 class="topic-title">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}" target="_blank">
      {{ .Title }}
    </a>
    <span class="topic-articles-count">（{{len .Pages}}篇）</span>
  </h1>
  <section class="article-meta">
    {{ partial "article-meta-git.html" . }}
  </section>
  <div class="topic-content">
    {{ .Content }}
  </div>
  <ol class="topic-articles" reversed>
    {{ range .Pages.ByDate.Reverse }}
    <li class="topic-article">
      <a class="topic-article-title" href="{{.RelPermalink}}" target="_blank" title="{{ .Title }}">
        {{.Title}}
        {{ partial "article-weight.html" . }}
      </a>
    </li>
    {{ end }}
  </ol>
</section>
{{ end }}
