{{ define "main" }}
{{ partial "article/toc.html" . }}
<article class="article">

  {{ partial "article/title.html" . }}

  {{ partial "article/meta.html" . }}

  <section class="article-content">
    {{ .Content }}
  </section>
  <script type="text/javascript">
    if (lnh_is_pc()) {
      var lnh_toc_a_list = lnh_toc_get_a_list();
      if (lnh_toc_a_list.length != 0) {
        window.onscroll = function () {
          lnh_toc_on_scroll(lnh_toc_a_list);
        };
      }
    }
  </script>

  {{ partial "article/meta.html" . }}

  {{ partial "article/page.html" . }}

</article>
{{ partial "article/comment.html" . }}
{{ end }}