{{ define "main" }}
<section id="main">
  <aside>
    {{ .TableOfContents }}
  </aside>
  <h1 id="title">{{ .Title }}</h1>
  <div>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>
<aside id="meta">
  <div>

    <section>
      <h4 id="created_at">创建于 : {{ .Date.Format "2006-01-02 15:04:05" }} </h4>
      <h4 id="modified_at">更新于 : {{ .Lastmod.Format "2006-01-02 15:04:05" }} </h4>
      <h5 id="word_count"> {{ .WordCount }} 字 </h5>
    </section>

    <section>
      <h5> 主题 </h5>
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </section>

    <section>
      <h5> 标签 </h5>
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
        <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </section>
  </div>
  <div>
    <section>

      {{ with .PrevInSection }}
      <div>
        <span>上一篇 : </span>
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      </div>
      {{ end }}

      {{ with .NextInSection }}
      <div>
        <span>下一篇 : </span>
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      </div>
      {{ end }}

    </section>
  </div>
</aside>
{{ end }}