{{ define "main" }}
<section id="main">
  <aside>
    {{ .TableOfContents }}
  </aside>
  <h1 id="title">{{ .Title }}</h1>
  {{ partial "metadata/article.html" . }}
  <div>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>
<aside id="meta">
  {{ partial "metadata/article.html" . }}
  {{ partial "metadata/article-prev-next-page.html" . }}
</aside>
<section>
  <script src="https://utteranc.es/client.js"
        repo="linianhui/linianhui.github.io"
        issue-term="url"
        label="博客评论"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>
</section>
{{ end }}
