body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active,
a:link {
  color: #0681ba;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #f60;
}

a img {
  border-width: 0;
}

table,
tbody,
td,
th,
thead,
tr {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 2px;
}

table {
  width: 100%;
}

summary{
  display: block;
  margin-top: 0.5em;
}

.body {
  margin: 48px 64px 32px 64px;
}

.header {
  border-bottom: 1px solid #0681ba;
}

.header-hgroup {
  text-align: right;
}

.header-hgroup-subtitle {
  color: #999;
  font-size: 12px;
  margin: 6px 0;
}

.header-nav {
  text-align: right;
}

.header-nav-item {
  display: inline-block;
  width: 5em;
  font-size: 16px;
  padding: 6px 0;
  text-align: center;
}

.header-nav-item:hover {
  color: #fff;
  background-color: #0681ba;
}

.main {
  position: relative;
  display: block;
  margin: 32px 0;
  box-sizing: border-box;
}

.footer {
  margin-top: 2em;
  border-top: 1px solid #0681ba;
  text-align: center;
}

.footer section{
  margin-top: 1em;
}

.articles-item {
  margin: 32px 0;
}

.article {
  position: relative;
  padding: 24px;
  box-shadow: 0 0 2px #ccc;
}

.article-title {
  border-bottom: 1px solid #eee;
  font-size: 24px;
  padding: 0.5em 0px;
}

.article-meta{
  text-align: right;
  margin-top: 6px;
  color: #999;
  font-size: 12px;
}

.article-meta section{
  margin-top: 4px;
}

.article-topic{
  margin-left: 4px;
}

.article-tag {
  margin-left: 4px;
}

.article-content{
  font-size: 16px;
  margin: 2em 0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4 {
  margin-left: 0;
  margin-top: 2em;
  margin-right: 0;
  margin-bottom: 0;
}

.article-content h1 {
  font-size: 22px;
}

.article-content h2 {
  font-size: 20px;
}

.article-content h3 {
  font-size: 18px;
}

.article-content h4 {
  font-size: 16px;
}

.article-content p{
  margin-left: 0;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
}

.article-content blockquote{
  font-size: 12px;
  font-style: italic;
  margin-left: 2em;
  margin-top: 0.5em;
  margin-right: 0;
  margin-bottom: 0;
  border-left: 6px solid #eee;
  color: #333;
  line-height: 1.8;
  padding: 0.5em;
  word-break: break-all;
}

.article-content blockquote p{
  margin: 0;
}

.article-content a{
  padding: 0px 0.5em;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  font-size: 0;
  box-shadow: 0 0 4px #ddd;
}

.article-content strong{
  margin: 0 0.5em;
}

.article-content ol{
  margin-top: 0.5em;
}

.article-content ol li{
  padding-left: 0.5em;
}

.article-content table{
  margin-top: 0.5em;
}

.article-content .highlight {
  margin-top: 0.5em;
  display: block;
  overflow-x: auto;
  border: 1px solid #eee;
  padding-left: 1em;
}

.article-page{
  margin-top: 2em;
  border-top: 1px solid #eee;
}

.article-page-prev,
.article-page-next{
  margin-top: 1em;
}

.article-comment{
  margin-top: 2em;
}
