
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none
}

a:active,
a:link,
a:visited {
  color: #0681ba
}

a:hover {
  color: #f60
}

a img {
  border-width: 0
}

table,
tbody,
td,
th,
thead,
tr {
  border-collapse: collapse;
  border: 1px solid silver;
  padding: 2px;
}

table {
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
  background-color: #FFF;
}

.body {
  margin: 48px 64px 16px 64px;
}

.header {
  border-bottom: 1px solid #0681ba;
}

.header-hgroup {
  text-align: right;
}

.header-hgroup-subtitle {
  color: #999;
  font-size: 12px;
  margin: 6px 0;
}

.header-nav {
  text-align: right;
}

.header-nav-item {
  display: inline-block;
  width: 5em;
  font-size: 16px;
  padding: 6px 0;
  text-align: center;
}

.header-nav-item:hover {
  color: #fff;
  background-color: #0681ba;
}

.main {
  position: relative;
  display: block;
  margin: 32px 0;
  box-sizing: border-box;
}

.footer {
  border-top: 1px solid #0681ba;
  padding-top: 10px;
  text-align: center;
}

.article-list {
  margin: 32px 0;
}

.article {
  position: relative;
  padding: 24px 24px 12px 24px;
  box-shadow: 0 0 2px #ccc;
}

.article-title {
  border-bottom: 1px solid #eee;
  font-size: 24px;
  padding: 8px 0px;
  font-weight: bold;
}

.article-meta{
  text-align: right;
  margin: 8px 0px;
  color: #999;
  font-size: 12px;
}

.article-meta section{
  margin: 4px 0px;
}

.article-date {
  text-align: right;
  font-size: 12px;
  margin: 2px 0px;
}

.article-topic{
  margin-left: 4px;
}

.article-tag {
  margin-left: 4px;
}

.article-content{
  margin: 16px 0px;
}

.article-content h1 {
  font-size: 22px;
  margin-top: 2em;
}

.article-content h2 {
  font-size: 20px;
  margin-top: 1.5em;
}

.article-content h2 {
  font-size: 18px;
  margin-top: 1em;
}

.article-content p{
  margin: 1em 0 0 0;
}

.article-content blockquote{
  margin: 0.5em 0 0.5em 2em;
  border-left: 6px solid #eee;
  color: #333;
  font-size: 12px;
  font-style: italic;
  line-height: 2;
  padding: 0.5em;
  word-break: break-all;
}

.article-content blockquote p{
  margin: 0;
}

.article-content a{
  padding: 0px 0.5em;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  box-shadow: 0 0 4px #ddd;
}

.article-content strong{
  margin: 0 0.5em;
}

.article-content ol{
  margin-top: 0.5em;
}

.article-content ol li{
  padding-left: 0.5em;
}

.article-content table{
  margin-top: 0.5em;
}

.article-content .highlight {
  margin-top: 0.5em;
  display: block;
  overflow-x: auto;
  border: 1px solid #eee;
  padding-left: 1em;
}

.article-page{
  margin: 16px 0px;
  border-top: 1px solid #eee;
}

.article-page-prev,
.article-page-next{
  margin: 8px 0px;
}

.article-comment{
  margin: 16px 0px;
}