.body {
  padding-left: 320px;
}

.toc {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  line-height: 1.8;
  overflow-y: auto;
  width: 320px;
  overflow-x: auto;
}

.toc ul{
  padding-left: 1em;
  list-style: none;
}

.toc a{
  display: block;
  word-wrap: break-word;
  text-overflow: clip;
}