<link href="//cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/theme-chalk/index.min.css" rel="stylesheet">
<style>
  td,
  th,
  tr,
  tbody,
  table {
    margin-top: unset;
    border: unset;
    padding: unset;
    border-collapse: unset;
    border: unset;
  }

  .cell {
    padding: 0 !important;
  }

  .form-name,
  .form-input,
  .form-detail {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .form-name {
    width: 5em;
    text-align: right;
    padding-top: 10px;
  }

  .form-input {
    margin-left: 1em;
  }

  .form-detail {
    margin-left: 1em;
    color: #909399;
  }

  .el-collapse {
    border: unset;
  }

  .el-collapse-item__header {
    border: unset;
  }

  .el-input-group__prepend {
    padding: 0;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    margin-top: 1em;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }

  .number{
    padding-left: 2px;
    font-family: monospace;
  }
</style>
<div id="app">
  <fieldset>
    <legend>参数区域</legend>
    <section style="min-height: 47px;">
      <div class="form-name">
        <label for="salary">
          税前月工资
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input id="salary" v-model="amount" style="width: unset;" placeholder="请输入税前月工资">
          <template slot="prepend">￥</template>
        </el-input>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="insurance">
          社保基数
        </label>
      </div>
      <div class="form-input">
        <el-select id="insurance" v-model="insurance.key" :popper-append-to-body="false" @change="onInsuranceChange">
          <el-option v-for="item in insurance.keys" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="form-detail">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <i class="header-icon el-icon-info"> 养老保险基数：{{insurance.value.养老.min | CNY}} ~
                {{insurance.value.养老.max | CNY}}</i>
            </template>
            <table>
              <tr>
                <th style="text-align: right;">社保类型</th>
                <th style="text-align: right;">最低</th>
                <th style="text-align: right;">最高</th>
                <th style="text-align: right;">个人</th>
                <th style="text-align: right;">公司</th>
              </tr>
              <tr>
                <td style="text-align: right;">养老保险</td>
                <td style="text-align: right;">{{insurance.value.养老.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.养老.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.养老.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.养老.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td style="text-align: right;">医疗保险</td>
                <td style="text-align: right;">{{insurance.value.医疗.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.医疗.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.医疗.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.医疗.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td style="text-align: right;">失业保险</td>
                <td style="text-align: right;">{{insurance.value.失业.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.失业.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.失业.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.失业.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td style="text-align: right;">工伤保险</td>
                <td style="text-align: right;">{{insurance.value.工伤.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.工伤.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.工伤.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.工伤.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td style="text-align: right;">生育保险</td>
                <td style="text-align: right;">{{insurance.value.生育.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.生育.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.生育.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.生育.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td style="text-align: right;">公积金</td>
                <td style="text-align: right;">{{insurance.value.公积金.min | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.公积金.max | CNY}}</td>
                <td style="text-align: right;">{{insurance.value.公积金.personalPercentage}}%</td>
                <td style="text-align: right;">{{insurance.value.公积金.corporationPercentage}}%</td>
              </tr>
            </table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="rate">税率表</label>
      </div>
      <div class="form-input">
        <el-select id="rate" v-model="rate.key" :popper-append-to-body="false">
          <el-option v-for="item in rate.keys" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="form-detail">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <i class="header-icon el-icon-info"> 免征额：<span class="number">{{rate.value.exempted | CNY}}</span></i>
            </template>
            <el-table :data="rate.value.items">
              <el-table-column label="范围" align="right" width="240">
                <template slot-scope="scope">
                  <span class="number">
                    {{ scope.row.min | CNY}} ~
                  <span v-if="scope.row.max">{{ scope.row.max | CNY}}</span>
                  <span v-else>￥∞</span>
                </span>
                </template>
              </el-table-column>
              <el-table-column label="税率" align="right" width="50">
                <template slot-scope="scope">
                  <span class="number">{{ scope.row.rate }}%</span>
                </template>
              </el-table-column>
              <el-table-column label="速算扣除数" align="right" width="100">
                <template slot-scope="scope">
                  <span class="number">{{ scope.row.quickDeduction | CNY}}</span>
                </template>
              </el-table-column>
            </el-table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
  </fieldset>

  <fieldset>
    <legend>结果区域-年收入合计</legend>
    税前<span class="number">{{ salarys.summary.baseYTD | CNY }}</span> = <span class="number">{{ salarys.summary.base | CNY}} * 12</span> <br />
    税后<span class="number">{{ salarys.summary.totalActualYTD | CNY }}</span> = 工资<span class="number">{{ salarys.summary.actualYTD | CNY }}</span> + 公积金<span class="number">{{
    salarys.summary.公积金YTD | CNY }}</span> +
    医疗<span class="number">{{ salarys.summary.医疗YTD | CNY }}</span><br />
    差额<span class="number">{{ salarys.summary.diffYTD | CNY }}</span> = 税前<span class="number">{{ salarys.summary.baseYTD | CNY }}</span> - 税后<span class="number">{{ salarys.summary.totalActualYTD
    | CNY }}</span>
  </fieldset>

  <section style="overflow-x: auto;max-width: 100%;">
    <fieldset>
      <legend>结果区域-按月列表</legend>
      <el-table :data="salarys.items" :default-sort="defaultSort">
        <el-table-column prop="month" label="月份" align="right" width="60" :sortable="true">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.month }}月</span>
          </template>
        </el-table-column>
        <el-table-column label="税前YTD" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.baseYTD | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="免征额YTD" align="right" width="100">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.exemptedYTD | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="社保个人YTD" align="right" width="100">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.insurancesPersonalYTD | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="税基YTD" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.taxableYTD | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="税率" align="right" width="45">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.rate.rate}}%</span>
          </template>
        </el-table-column>
        <el-table-column label="个税" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.tax | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="个税YTD" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.taxYTD | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="税后" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.actual | CNY}}</span>
          </template>
        </el-table-column>
        <el-table-column label="税后YTD" align="right">
          <template slot-scope="scope">
            <span class="number">{{ scope.row.actualYTD | CNY}}</span>
          </template>
        </el-table-column>
      </el-table>
    </fieldset>
  </section>
</div>
<script src="//cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script src="//cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.js"></script>
<script src="//unpkg.com/currency.js/dist/currency.min.js"></script>
<script src="rates.js"></script>
<script src="insurances.js"></script>
<script src="calculator.js"></script>
<script type="text/javascript">
  const ratesKeys = Object.keys(rates);
  const ratesKey = ratesKeys[0];
  const insurancesKeys = Object.keys(insurances);
  const insurancesKey = insurancesKeys[0];

  function log(type, value) {
    console.log(type, JSON.parse(JSON.stringify(value)));
  }

  new Vue({
    el: "#app",
    data: function () {
      return {
        amount: null,
        rate: {
          keys: ratesKeys,
          key: ratesKey,
          value: rates[ratesKey]
        },
        insurance: {
          keys: insurancesKeys,
          key: insurancesKey,
          value: insurances[insurancesKey]
        },
        defaultSort: {
          prop: 'month',
          order: 'descending'
        }
      }
    },
    filters: {
      CNY: function (value) {
        return currency(
          value,
          {
            symbol: "¥",
            precision: 2
          })
          .format();
      }
    },
    computed: {
      salarys() {
        var items = buildSalaryList(
          parseInt(this.amount, 10),
          this.insurance.value,
          this.rate.value
        );
        calculateOneYear(items);
        items.shift();
        log("calculate salarys", items);

        var summary = buildSummary(items);
        log("calculate salarys year summary", summary);

        return {
          items: items,
          summary: summary
        };
      }
    },
    methods: {
      onRateChange(key) {
        this.rate.value = rates[key];
        log("selected rate " + key, this.rate.value);
      },
      onInsuranceChange(key) {
        this.insurance.value = insurances[key];
        log("selected insurance " + key, this.insurance.value);
      }
    }
  })
</script>