<link href="//cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/theme-chalk/index.min.css" rel="stylesheet">
<style>
  th {
    text-align: center;
  }

  td {
    text-align: right;
  }

  .cell {
    padding: 0 !important;
  }

  .form-name,
  .form-input,
  .form-detail {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .form-name {
    width: 5em;
    text-align: right;
    padding-top: 10px;
  }

  .form-input {
    margin-left: 1em;
  }

  .form-detail {
    margin-left: 1em;
    color: #909399;
  }

  .el-collapse {
    border: unset;
  }

  .el-collapse-item__wrap,
  .el-collapse-item__header {
    border: unset;
  }

  .el-input-group__prepend {
    padding: 0;
  }

  fieldset {
    border: unset;
    box-shadow: 0 0 2px #ccc;
    margin-top: 1em;
  }

  legend {
    background-color: #FFF;
    color: #909399;
  }

  .salary-table {
    width: 100%;
  }

  .row-data {
    font-family: monospace;
  }

  .row-data:hover{
    background-color: #eee;
    cursor: pointer;
  }
</style>
<div id="app">
  <fieldset>
    <legend>参数区域</legend>
    <section style="min-height: 47px;">
      <div class="form-name">
        <label for="salary">
          税前月工资
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="salary" v-model="amount" step="1000" placeholder="请输入税前月工资">
        </el-input-number>
      </div>
    </section>
    <section style="min-height: 47px;">
      <div class="form-name">
        <label for="month">
          月数
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="month" v-model="month" :min="1" :max="100" placeholder="请输入月数"></el-input-number>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="insurance">
          社保基数
        </label>
      </div>
      <div class="form-input">
        <el-select id="insurance" v-model="insurance.key" :popper-append-to-body="false" @change="onInsuranceChange">
          <el-option v-for="item in insurance.keys" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="form-detail">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <i class="header-icon el-icon-info"> 养老保险基数：{{insurance.value.养老.min | CNY}} ~
                {{insurance.value.养老.max | CNY}}</i>
            </template>
            <table>
              <tr>
                <th>社保类型</th>
                <th>最低</th>
                <th>最高</th>
                <th>个人</th>
                <th>公司</th>
              </tr>
              <tr>
                <td>养老保险</td>
                <td>{{insurance.value.养老.min | CNY}}</td>
                <td>{{insurance.value.养老.max | CNY}}</td>
                <td>{{insurance.value.养老.personalPercentage}}%</td>
                <td>{{insurance.value.养老.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td>医疗保险</td>
                <td>{{insurance.value.医疗.min | CNY}}</td>
                <td>{{insurance.value.医疗.max | CNY}}</td>
                <td>{{insurance.value.医疗.personalPercentage}}%</td>
                <td>{{insurance.value.医疗.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td>失业保险</td>
                <td>{{insurance.value.失业.min | CNY}}</td>
                <td>{{insurance.value.失业.max | CNY}}</td>
                <td>{{insurance.value.失业.personalPercentage}}%</td>
                <td>{{insurance.value.失业.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td>工伤保险</td>
                <td>{{insurance.value.工伤.min | CNY}}</td>
                <td>{{insurance.value.工伤.max | CNY}}</td>
                <td>{{insurance.value.工伤.personalPercentage}}%</td>
                <td>{{insurance.value.工伤.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td>生育保险</td>
                <td>{{insurance.value.生育.min | CNY}}</td>
                <td>{{insurance.value.生育.max | CNY}}</td>
                <td>{{insurance.value.生育.personalPercentage}}%</td>
                <td>{{insurance.value.生育.corporationPercentage}}%</td>
              </tr>
              <tr>
                <td>公积金</td>
                <td>{{insurance.value.公积金.min | CNY}}</td>
                <td>{{insurance.value.公积金.max | CNY}}</td>
                <td>{{insurance.value.公积金.personalPercentage}}%</td>
                <td>{{insurance.value.公积金.corporationPercentage}}%</td>
              </tr>
            </table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
    <section>
      <div class="form-name">
        <label for="rate">税率表</label>
      </div>
      <div class="form-input">
        <el-select id="rate" v-model="rate.key" :popper-append-to-body="false">
          <el-option v-for="item in rate.keys" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
      </div>
      <div class="form-detail">
        <el-collapse>
          <el-collapse-item>
            <template slot="title">
              <i class="header-icon el-icon-info"> 免征额：<span class="number">{{rate.value.exempted | CNY}}</span></i>
            </template>
            <table>
              <tr>
                <th>范围</th>
                <th>税率</th>
                <th>速算扣除数</th>
              </tr>
              <tr v-for="item in rate.value.items" class="row-data">
                <td>
                  <span>
                    {{ item.min | CNY}} ~
                    <span v-if="item.max">{{ item.max | CNY}}</span>
                    <span v-else>￥∞</span>
                  </span>
                </td>
                <td>
                  {{ item.rate }}%
                </td>
                <td>
                  {{ item.quickDeduction | CNY}}
                </td>
              </tr>
            </table>
          </el-collapse-item>
        </el-collapse>
      </div>
    </section>
    <section style="min-height: 47px;">
      <div class="form-name">
        <label for="precision">
          小数位
        </label>
      </div>
      <div colspan="2" class="form-input">
        <el-input-number id="precision" v-model="precision" :min="0" :max="2" placeholder="小数位"
          @change="onPrecisionChange"></el-input-number>
      </div>
    </section>
  </fieldset>

  <fieldset>
    <legend>结果区域-年收入合计</legend>
    税前<span class="number">{{ salarys.summary.baseYTD | CNY }}</span> = <span class="number">{{ amount | CNY}} * {{
      month | CNY}}</span> <br />
    税后<span class="number">{{ salarys.summary.totalActualYTD | CNY }}</span> = 工资<span class="number">{{
      salarys.summary.actualYTD | CNY }}</span> + 公积金<span class="number">{{
      salarys.summary.公积金YTD | CNY }}</span> +
    医疗<span class="number">{{ salarys.summary.医疗YTD | CNY }}</span><br />
    差额<span class="number">{{ salarys.summary.diffYTD | CNY }}</span> = 税前<span class="number">{{
      salarys.summary.baseYTD | CNY }}</span> - 税后<span class="number">{{ salarys.summary.totalActualYTD
      | CNY }}</span>
  </fieldset>

  <section style="overflow-x: auto;max-width: 100%; padding-bottom: 1em;">
    <fieldset>
      <legend>结果区域-按月列表</legend>
      <table class="salary-table">
        <tr class="row-header">
          <th style="width: 5em;">月份</th>
          <th>税前月收入</th>
          <th>税前YTD</th>
          <th style="width: 6em;">免征额YTD</th>
          <th style="width: 7em;">社保个人YTD</th>
          <th>税基YTD</th>
          <th style="width: 2em;">税率</th>
          <th>个税</th>
          <th>税后YTD</th>
          <th>税后月收入</th>
          <th>税后YTD</th>
        </tr>
        <tr v-for="item in salarys.items.reverse()" class="row-data">
          <td v-if="item.month > 12">
            {{item.months}}个月奖金
          </td>
          <td v-else>{{ item.month }}月</td>
          <td>
            {{ item.base | CNY}}
          </td>
          <td>
            {{ item.baseYTD | CNY}}
          </td>
          <td>
            {{ item.exemptedYTD | CNY}}
          </td>
          <td>
            {{ item.insurancesPersonalYTD | CNY}}
          </td>
          <td>
            {{ item.taxableYTD | CNY}}
          </td>
          <td>
            {{ item.rate.rate}}%
          </td>
          <td>
            {{ item.tax | CNY}}
          </td>
          <td>
            {{ item.taxYTD | CNY}}
          </td>
          <td>
            {{ item.actual | CNY}}
          </td>
          <td>
            {{ item.actualYTD | CNY}}
          </td>
        </tr>
      </table>
    </fieldset>
  </section>
</div>
<script src="//cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script src="//cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.js"></script>
<script src="//unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>
<script src="rates.js"></script>
<script src="insurances.js"></script>
<script src="calculator.js"></script>
<script type="text/javascript">
  const ratesKeys = Object.keys(rates);
  const ratesKey = ratesKeys[0];
  const insurancesKeys = Object.keys(insurances);
  const insurancesKey = insurancesKeys[0];
  let precision = 0;

  function log(type, value) {
    console.log(type, JSON.parse(JSON.stringify(value)));
  }

  new Vue({
    el: "#app",
    data: function () {
      return {
        amount: 5000,
        month: 12,
        precision: precision,
        rate: {
          keys: ratesKeys,
          key: ratesKey,
          value: rates[ratesKey]
        },
        insurance: {
          keys: insurancesKeys,
          key: insurancesKey,
          value: insurances[insurancesKey]
        },
        defaultSort: {
          prop: 'month',
          order: 'descending'
        }
      }
    },
    filters: {
      CNY: function (value) {
        return currency(
          value || 0,
          {
            symbol: "",
            separator: ",",
            precision: precision
          })
          .format();
      }
    },
    computed: {
      salarys() {
        var items = buildSalaryList(
          parseInt(this.amount, 10),
          this.month,
          this.insurance.value,
          this.rate.value
        );
        calculateOneYear(items);
        items.shift();
        log("calculate salarys", items);

        var summary = buildSummary(items);
        log("calculate salarys year summary", summary);

        log("precision", this.precision);
        return {
          items: items,
          summary: summary
        };
      }
    },
    methods: {
      onRateChange(key) {
        this.rate.value = rates[key];
        log("selected rate " + key, this.rate.value);
      },
      onInsuranceChange(key) {
        this.insurance.value = insurances[key];
        log("selected insurance " + key, this.insurance.value);
      },
      onPrecisionChange(value) {
        precision = value;
      }
    }
  })
</script>