<?xml version="1.0" encoding="UTF-8"?>
<!-- https://maven.apache.org/settings.html -->
<!-- 
  加载顺序
  1. 全局设置 M2_HOME/conf/settiing.xml 
  2. 用户设置 HOME/.m2/settiing.xml
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository>${env.MAVEN_REPOSITORY_HOME}</localRepository>
  <!-- <localRepository>d:/.cache/.maven</localRepository> -->

  <mirrors>
    <!-- https://maven.apache.org/guides/mini/guide-mirror-settings.html -->
    <!-- https://help.aliyun.com/document_detail/102512.html -->

    <mirror>
      <id>aliyun-public</id>
      <name>aliyun public</name>
      <mirrorOf>public</mirrorOf>
      <url>https://maven.aliyun.com/repository/public</url>
    </mirror>

    <mirror>
      <id>aliyun-central</id>
      <name>aliyun central</name>
      <mirrorOf>central</mirrorOf>
      <url>https://maven.aliyun.com/repository/central</url>
    </mirror>

    <mirror>
      <id>aliyun-jcenter</id>
      <name>aliyun jcenter</name>
      <mirrorOf>jcenter</mirrorOf>
      <url>https://maven.aliyun.com/repository/jcenter</url>
    </mirror>

    <mirror>
      <id>aliyun-spring</id>
      <name>aliyun spring</name>
      <mirrorOf>spring</mirrorOf>
      <url>https://maven.aliyun.com/repository/spring</url>
    </mirror>

    <mirror>
      <id>aliyun-spring-milestones</id>
      <name>aliyun spring milestones</name>
      <mirrorOf>spring-milestones</mirrorOf>
      <url>https://maven.aliyun.com/repository/spring</url>
    </mirror>

    <mirror>
      <id>aliyun-spring-plugin</id>
      <name>aliyun spring plugin</name>
      <mirrorOf>spring-plugin</mirrorOf>
      <url>https://maven.aliyun.com/repository/spring-plugin</url>
    </mirror>

    <mirror>
      <id>aliyun-gradle-plugin</id>
      <name>aliyun gradle plugin</name>
      <mirrorOf>gradle-plugin</mirrorOf>
      <url>https://maven.aliyun.com/repository/gradle-plugin</url>
    </mirror>

    <mirror>
      <id>aliyun-google</id>
      <name>aliyun google</name>
      <mirrorOf>google</mirrorOf>
      <url>https://maven.aliyun.com/repository/google</url>
    </mirror>

    <mirror>
      <id>aliyun-grails-core</id>
      <name>aliyun grails core</name>
      <mirrorOf>grails-core</mirrorOf>
      <url>https://maven.aliyun.com/repository/grails-core</url>
    </mirror>
  </mirrors>
</settings>
