.body {
  margin: 20px;
}

.article{
  padding: 0;
  box-shadow: unset;
}

.article-content{
  font-size: 14px;
}

.article-content blockquote{
  margin-top: 0.5em;
  margin-left: 1em;
}

.toc{
  left: unset;
  right: 0;
  bottom: unset;
}

.fixed-bar{
  top: 0;
  left: 3px;
  bottom: unset;
  right: unset;
  font-size: 16px;
}

.fixed-bar .fa-comments,
.fixed-bar .fa-arrow-circle-up{
  display: none;
}