.body {
  margin: 18px 18px 54px 18px;
}

.article{
  padding: 0;
  box-shadow: unset;
}

.article-content{
  font-size: 14px;
}

.article-content blockquote{
  margin-top: 0.5em;
  margin-left: 1em;
}

.toc{
  top: unset;
  left: 0;
  bottom: 36px;
}

.toolbar{
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  padding: 6px 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px #ccc;
}

.toolbar a{
  margin: 0;
  display: inline-block;
}