body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
  background-color: #fff;
  color: #323232;
  word-break: break-word;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active,
a:link {
  color: #0681ba;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #f60;
}

a img {
  border-width: 0;
}

table,
tbody,
td,
th,
thead,
tr {
  border-collapse: collapse;
  border: 1px solid #ccc;
  padding: 2px;
}

table {
  width: 100%;
}

summary{
  display: block;
  margin-top: 0.5em;
}

.body {
  margin: 64px 64px 32px 64px;
}

.header {
  border-bottom: 1px solid #0681ba;
}

.header-hgroup {
  text-align: right;
}

.header-hgroup-subtitle {
  color: #999;
  font-size: 12px;
  margin: 6px 0;
}

.header-nav {
  text-align: right;
  font-size: 0;
}

.header-nav-item {
  display: inline-block;
  font-size: 16px;
  padding: 6px 8px;
  text-align: center;
}

.header-nav-item:hover {
  color: #fff;
  background-color: #0681ba;
}

.bing-search{
  position: relative;
  display: block;
}

.bing-search-input{
  position: absolute;
  top: 1px;
  right: 0;
  display: inline-block;
  width: 16em;
  border-style:solid ;
  border-color: #0681ba;
  border-width: 0 1px 1px 1px;
  font-size: 16px;
  padding: 6px;
  border-radius: 0;
}

.bing-search-input::-webkit-input-placeholder {
  color: #aaa;
}

.main {
  position: relative;
  display: block;
  margin: 32px 0;
  box-sizing: border-box;
}

.footer {
  margin-top: 2em;
  border-top: 1px solid #0681ba;
  text-align: center;
}

.footer section{
  margin-top: 1em;
}

.articles-item {
  margin: 32px 0;
}

.article {
  position: relative;
  padding: 32px;
  box-shadow: 0 0 2px #ccc;
}

.topic-title,
.article-title {
  border-bottom: 1px solid #eee;
  font-size: 24px;
  padding: 0.5em 0px;
}

.article-meta{
  text-align: right;
  margin-top: 6px;
  color: #999;
  font-size: 12px;
}

.article-meta section{
  margin-top: 4px;
}

.article-topic{
  margin-left: 4px;
}

.article-tag {
  margin-left: 4px;
}

.article-content{
  font-size: 16px;
  margin: 2em 0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  position: relative;
  margin-left: -32px;
  margin-top: 2em;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 32px;
}

.article-content h1 {
  font-size: 22px;
}

.article-content h2 {
  font-size: 20px;
}

.article-content h3 {
  font-size: 18px;
}

.article-content h4 {
  font-size: 16px;
}

.article-content p{
  margin-left: 0;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
}

.article-content h1 code,
.article-content h2 code,
.article-content h3 code,
.article-content h4 code,
.article-content h5 code,
.article-content h6 code,
.article-content p code,
.article-content li code,
.article-content table code,
.article-content blockquote code{
  padding: 2px 4px;
  color: #c0341d;
  background-color: #fbe5e1;
}

.article-content blockquote{
  font-size: 14px;
  font-style: italic;
  margin-left: 2em;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 0;
  border-left: 6px solid #eee;
  color: #333;
  line-height: 1.8;
  padding: 0.5em;
  word-break: break-all;
}

.article-content blockquote p{
  margin: 0;
}

.article-content a{
  margin-left: 6px;
  margin-right: 6px;
  word-break: break-all;
}

.article-content img {
  display: block;
  max-width: 100%;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  font-size: 0;
  box-shadow: 0 0 4px #ddd;
}

.article-content ol{
  margin-top: 0.5em;
}

.article-content ol li{
  padding-left: 0.5em;
  word-break: break-all;
}

.article-content table{
  margin-top: 0.5em;
  word-break: break-all;
}

.article-content .highlight {
  margin-top: 16px;
  display: block;
  overflow-x: auto;
  border: 1px solid #eee;
}

.article-content .highlight pre {
  margin: 0;
  padding: 6px 8px;
}

.article-content .highlight-file {
  margin-top: 16px;
}

.article-content .highlight-file-title {
  padding: 4px;
  border: 1px solid #eee;
  font-style: italic;
  background-color: #eee;
}

.article-content .highlight-file .highlight{
  margin-top: 0;
}

.article-content .file-list {
  margin-top: 0.5em;
  border: 1px solid #eee;
}

.article-content .file-list-title {
  padding: 4px;
  border: 1px solid #eee;
  font-style: italic;
  background-color: #eee;
}

.article-content .file-list table {
  margin: 0;
  width: auto;
}


.article-content .file-list table,
.article-content .file-list td,
.article-content .file-list th {
  border-collapse: unset;
  border: none;
  padding: 2px;
}

.article-content .article-h-a{
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0.3em;
}

.article-content h1:hover .article-h-a,
.article-content h2:hover .article-h-a,
.article-content h3:hover .article-h-a,
.article-content h4:hover .article-h-a,
.article-content h5:hover .article-h-a,
.article-content h6:hover .article-h-a{
  visibility: visible;
}

.article-content pre{
  overflow-x: auto;
}

.article-page{
  margin-top: 2em;
  border-top: 1px solid #eee;
}

.article-page-prev,
.article-page-next{
  margin-top: 1em;
}

.article-comment{
  margin-top: 2em;
}

.topic{
  margin-top: 32px;
}

.topic-content{
  font-size: 14px;
  font-style: italic;
  margin: 0;
  border-left: 6px solid #eee;
  color: #333;
  line-height: 1.8;
  padding: 0.5em;
  word-break: break-all;
}

.topic-content p{
  margin: 0;
}

.topic-title{
  font-size: 24px;
}

.topic-articles-count{
  font-size: 16px;
}

.topic-article{
  list-style: decimal-leading-zero;
}

.topic-article-time{
  margin-left: 0.5em;
}

.tags{
  margin-top: 32px;
}

.tags-title h1{
  font-size: 24px;
}

.tags-title .tags-count{
  font-size: 18px;
  color: #333;
}

.tags .tag{
  list-style: decimal-leading-zero;
}

.tags .tag .tag-link{
  margin-left: 0.5em;
}

.tags .tag .tag-count{
  font-size: 12px;
  color: #333;
}

.tag-title{
  font-size: 24px;
}

.tag-title-count{
  font-size: 18px;
  color: #333;
}

.tag-articles{
  margin-top: 2em;
}

.tag-article{
  list-style: decimal-leading-zero;
}

.tag-article-time{
  margin-left: 0.5em;
}

.archives-title{
  font-size: 24px;
}

.archives-count{
  font-size: 18px;
  color: #333;
}

.archive-group{
  margin-top: 2em;
}

.archive-group-title{
  font-size: 24px;
}

.archive-group-count{
  font-size: 16px;
  color: #333;
}

.archive-group-items{
  margin-top: 1em;
}

.archive-group-item{
  list-style: decimal-leading-zero;
}

.archive-group-item-time{
  margin-left: 0.5em;
}
