{{- $regexParam := .Get "regex" -}}
{{- $titleParam := .Get "title" -}}
{{- $langParam  := .Get "lang" -}}
{{- $currentDir := ($.Page.File.Dir | relURL) -}}
<div class="file-list">
  <div class="file-list-title">{{- $titleParam -}}</div>
  <div class="file-list-content">
    <table>
      {{- range (readDir (path.Join "src" $currentDir)) -}}
      {{- $match := findRE $regexParam .Name 1 -}}
      {{- if $match -}}
        {{- $filePath := (path.Join $currentDir .Name) -}}
        {{- $id := md5 $filePath -}}
        <tr>
          <td>
            <a id="file-list-a-{{- $id -}}" class="fa fa-minus inactive" href="javascript:void(0);" onclick="lnh.css.toggleClassName('file-list-a-{{- $id -}}','file-list-div-{{- $id -}}','inactive')"></a>
            <a target="_blank" href="{{$filePath}}" download>{{.Name}}</a>
          </td>
          <td>
            <a class="fa fa-github" target="_blank" href="{{$.Site.Params.RepositoryBlobSrcUrl}}{{$filePath}}" title="源码"></a>
          </td>
          <td>
            <a class="fa fa-file-text" target="_blank" href="{{$.Site.Params.RepositoryRawSrcUrl}}{{$filePath}}" title="文本"></a>
          </td>
        </tr>
        <tr>
          <td>
            <div id="file-list-div-{{- $id -}}" class="inactive">
              {{- highlight ($filePath | readFile) $langParam "" -}}
            </div>
          </td>
          <td colspan="2"></td>
        </tr>
        {{- end -}}
      {{- end -}}
    </table>
  </div>
</div>
