{{- $regularExpression := .Get "regularExpression" -}}
{{- $currentDir := ($.Page.File.Dir | relURL) -}}
<div class="file-list">
  <div class="file-list-title">file list : {{ $regularExpression }}</div>
  <div class="file-list-content">
    <table>
      {{- range (readDir (path.Join "src" $currentDir)) -}}
      {{- $match := findRE $regularExpression .Name 1 -}}
      {{- if $match -}}
        {{- $filePath := (path.Join $currentDir .Name) -}}
        <tr>
          <td>
            <a target="_blank" href="{{$filePath}}" download>{{.Name}}</a>
          </td>
          <td>
            <a class="fa fa-github" target="_blank" href="{{$.Site.Params.RepositoryBlobSrcUrl}}{{$filePath}}" title="源码"></a>
          </td>
          <td>
            <a class="fa fa-file-text" target="_blank" href="{{$.Site.Params.RepositoryRawSrcUrl}}{{$filePath}}" title="文本"></a>
          </td>
        </tr>
        {{- end -}}
      {{- end -}}
    </table>
  </div>
</div>
