{{- $fileParam := .Get "file" -}}
{{- $langParam := .Get "lang" -}}
{{- $isAbsolutePath := (hasPrefix $fileParam "/") -}}
{{- $filePath := cond $isAbsolutePath $fileParam ((path.Join $.Page.File.Dir $fileParam) | relURL) }}
<div class="highlight-file">
  <div class="highlight-file-title">
    <span>file : {{ $fileParam }}</span>
    {{- if not $isAbsolutePath -}}
      <a class="fa fa-download" target="_blank" href="{{$filePath}}"></a>
      <a class="fa fa-github" target="_blank" href="{{$.Site.Params.RepositorySrcUrl}}{{$filePath}}"></a>
    {{- end -}}
  </div>
  {{- highlight ($filePath | readFile) $langParam "" -}}
</div>
