{{- $fileParam := .Get "file" -}}
{{- $langParam := .Get "lang" -}}
{{- $isAbsolutePath := (hasPrefix $fileParam "/") -}}
{{- $filePath := cond $isAbsolutePath $fileParam ((path.Join $.Page.File.Dir $fileParam) | relURL) }}
{{- $id := md5 $filePath -}}
<div class="highlight-file">
  <div class="highlight-file-title">
    <a  id="file-a-{{- $id -}}" class="fa fa-minus" href="javascript:void(0);" onclick="lnh.css.toggleClassName('file-a-{{- $id -}}','file-div-{{- $id -}}','inactive')"></a>
    {{- if $isAbsolutePath -}}
      <span>{{$fileParam}}</span>
      <a class="fa fa-github" target="_blank" href="{{$.Site.Params.RepositoryBlobUrl}}{{$filePath}}" title="源码"></a>
      <a class="fa fa-file-text" target="_blank" href="{{$.Site.Params.RepositoryRawUrl}}{{$filePath}}" title="文本"></a>
    {{- else -}}
      <a target="_blank" href="{{$filePath}}" download>{{$fileParam}}</a>
      <a class="fa fa-github" target="_blank" href="{{$.Site.Params.RepositoryBlobSrcUrl}}{{$filePath}}" title="源码"></a>
      <a class="fa fa-file-text" target="_blank" href="{{$.Site.Params.RepositoryRawSrcUrl}}{{$filePath}}" title="文本"></a>
    {{- end -}}
  </div>
  <div id="file-div-{{- $id -}}" class="highlight-file-content">
    {{- highlight ($filePath | readFile) $langParam "" -}}
  </div>
</div>
