<script src="https://unpkg.com/moment@2.29.4/min/moment-with-locales.min.js"></script>
<script src="https://unpkg.com/md5@2.3.0/dist/md5.min.js"></script>
<script src="https://unpkg.com/numeral@2.0.6/min/numeral.min.js"></script>
<script src="https://unpkg.com/js-base64@3.7.3/base64.js"></script>
<script src="func.js"></script>

<div id="app">
  <el-input type="textarea" :rows="5" placeholder="请输入内容" v-model="input" @input="onInputChange"></el-input>
  <fieldset v-for="item in items" style="border-width: 1px;border-color:#ddd;border-style: dashed;">
    <legend>{{item.name}}</legend>
    <a :href="'#'+encodeURIComponent(item.value)" target="_blank">{{item.value}}</a>
  </fieldset>
</div>

<script type="text/javascript">
  function handleValue(value) {
    var result = [];
    for (var key in functionList) {
      try {
        var item = {
          name: key,
          value: functionList[key](value)
        };
        if (item.value) {
          result.push(item);
        }
      } catch (e) {
        console.error(key, value, e);
      }
    }
    return result.sort(function (a, b) {
      return a.name.localeCompare(b.name);
    });
  }

  function getInitInput() {
    if (window.location.hash) {
      return decodeURIComponent(window.location.hash.substring(1));
    }
    return new Date().getTime();
  }

  var initInput = getInitInput();
  var initItems = handleValue(initInput);
  new Vue({
    el: "#app",
    data: {
      input: initInput,
      items: initItems
    },
    methods: {
      onInputChange(value) {
        this.items = handleValue(value);
        console.log(handleValue(value));
      }
    }
  });
</script>